/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Main Styling */
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
}

body {
  background: #e5e5e5;
  font-size: 1.4rem;
  line-height: 2rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.title {
  margin: 2% auto;
}
